<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>
    <h1>Welcome <%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, maiores cum modi nemo soluta. A deserunt facilis numquam officiis, reprehenderit laborum modi dolor sequi hic vel. Accusamus, perspiciatis, maxime. Iure.</p>
    
    <ul>
        <% for(var i=0; i<users.length; i++){ %>
            <li><%= users[i] %></li>
        <% } %>
    </ul>
    
</body>
</html>